.app-info {
  padding: 25px;
  background-color: #333333;
  h1 {
    color: white;
    margin: 0
  }
  h2 {
    color: white;
    margin: 0

  }
}
.user-icon {
  width: 24px;
  height: 24px;
  margin-right: 1.5rem; 
  font-size: 24px

}


.user-info {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.5rem
}

.fa-cookie {
 color: #e09f3e;
}