.chartModule {
	margin-top: 30px;
}
.chartName {
	padding: 25px;
	background-color: #333333;
	line-height: 35px;
	font-size: 1.75rem;
	color: white;
	font-weight: 600;
}

.doughnut_wrapper {
	max-width: 500px;
	margin: 0 auto;
}

.doughnut {
	margin: 30px auto 0 auto;
}
